<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | K1 Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
{% block content %}{% endblock %}
{% include "footer.html" %}
</body>
</html>
